{% extends "base.html" %}
{% block content %}

<legend class="mb-4">درخواست های ارسال شده شما</legend>

<table class="table table-sm" style="text-align: center;">
    <thead>
        <tr>
            <th scope="col">آگهی</th>
            <th scope="col">وضعیت</th>
            <th scope="col">رزومه</th>
            <th scope="col"></th>

        </tr>
    </thead>
    {% for request in requests %}
    <tbody>
      <tr>
        <td>{{ request.job }}</td>
        <td>{{ request.status }}</td>
        <td><a target="_blank" href="{{ request.resume_url }}">مشاهده</a></td>
        <td><a class="btn btn-danger" style="padding: 1px;font-size:12px;" href="{% url 'cancel-request' request.id %}">لغو درخواست</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

{% endblock %}