{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
<legend class="mb-4">جدیدترین فرصت های شغلی</legend>
{% for job in jobs %}
<article class="media content-section">
  <img class="account-img" src="{{ job.company.logo.url}}">
  <div>
      <span><a class="article-title" href="#">{{ job.title }}</a></span>
      <span class="text-muted mr-1" style="font-size: small;" >(امروز)</span><br>
      <i class="material-icons" style="vertical-align: middle;font-size: medium;">&#xe88a;</i>
      <span style="vertical-align:middle;font-size:small;">{{ job.company.name }}</span><br>
      <i class="material-icons" style="vertical-align: middle;font-size: medium;">&#xe0c8;</i> 
      <span style="vertical-align:middle;font-size:small;">{{ job.location }} </span><br>
      <i class="material-icons" style="vertical-align: middle;font-size: medium;" >&#xe8f9;</i>
      <span style="vertical-align:middle;font-size:small;">{{ job.get_cooperation_type_display }}</span>
      <span  class="text-muted" style="font-size: small;vertical-align: middle;">(حقوق {{ job.get_salary_display }})</span>
      <br>
  </div>
</article>  
{% endfor %}
</div>
{% endblock %}