{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
  <legend >آگهی های شما </legend>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">عنوان آگهی</th>
        <th scope="col">وضعیت</th>
        <th scope="col">تاریخ ایجاد</th>
        <th scope="col">تعداد درخواست برای این شغل</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}             
        <tr>
          <td>{{job.title}}</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}